@import url('https://fonts.googleapis.com/css2?family=League+Script&display=swap');

:root {
    --bodyHeight: 900vh
}

* {
    padding: 0;
    margin: 0;
    user-select: none;
}

html, body {
    width: 100vw;
    height: var(--bodyHeight);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: #181C25; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #777; 
    border-radius: 40px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #777; 
    border-radius: 40px;
  }

#main {
    width: 100%;
    height: var(--bodyHeight);
    overflow: hidden;
}

#cheeseLineContain {
    width: 100%;
    height: 500vh;
}

#cheese {
    margin-top: 3vw;
    margin-left: -5vw;
    width: 100vw;

    height: 345vh;
    stroke-width: 7;
    z-index: 2;
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 415vh;
}

@keyframes drawIn {
    to {
        stroke-dashoffset: 0;
    }
}

.drawIn {
    animation: drawIn 15s linear;
    animation-fill-mode: forwards;
}

#types {
    stroke-dasharray: 2500px;
    stroke-dashoffset: 2500px;
    width: 100%;
}

#cheeseSection {
    transform: translateY(5vw);
    width: 100%;
    height: calc(var(--bodyHeight) - calc(415vh + 196px) - 15vw);
    display: grid;
    grid-template-columns: 35% 30% 35%;
    grid-template-rows: repeat(1fr, 13);
    row-gap: 3vh;
}

@keyframes slideIn {
    100% {
        transform: translateX(33vw);
    }
}

.slideIn {
    justify-self: center;
    align-self: center;
    animation: slideIn 500ms ease-in-out;
    animation-fill-mode: forwards;

    z-index: 3;
}

.cardL {
    height: 100%;
    width:  100%;
    grid-column: 1;
    border-radius: 50px;
    box-shadow: 4px 4px 4px gray;
    background-color: #fafafa;
    color: #fbae3c;
    font-family: League Script;
    font-size: 2vw;
    text-align: center;
    font-weight: 600;
    transform: translateX(-6vw);
    display: table;
    transition: transform 100ms ease-in-out;
    cursor: pointer;
}

.cardL:hover {
    transform: translateX(0);
}

.cardL h1 {
    display: table-cell;
    vertical-align: middle;
}

.cardR {
    height: 100%;
    width:  100%;
    grid-column: 3;
    border-radius: 50px;
    box-shadow: -4px 4px 4px gray;
    color: #fbae3c;
    background-color: #fafafa;
    font-family: League Script;
    font-size: 2vw;
    text-align: center;
    font-weight: 600;
    transform: translateX(6vw);
    display: table;
    transition: transform 100ms ease-in-out;
    cursor: pointer;
}

.cardR h1 {
    display: table-cell;
    vertical-align: middle;
}

.cardR:hover {
    transform: translateX(0);
}

#cheese1 {
    grid-row: 1;
}

#cheese2 {
    grid-row: 2;
}

#cheese3 {
    grid-row: 3;
}

#cheese4 {
    grid-row: 4;
}

#cheese5 {
    grid-row:5 ;
}

#cheese6 {
    grid-row: 6;
}

#cheese7 {
    grid-row: 7;
}

#cheese8 {
    grid-row: 8;
}

#cheese9 {
    grid-row: 9;
}

#cheese10 {
    grid-row: 10;
}

#cheese11 {
    grid-row: 11;
}

#cheese12 {
    grid-row: 12;
}

#cheese13 {
    grid-row: 13;
}