* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100vw;
    height: 500vh;
    overflow-x: hidden;
}

#main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

#svg {
    width: 100vw;
    height: 100vh;
}